<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Подключение стилей -->




    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Web_253502_Yarashuk.styles.css" asp-append-version="true"/>
    <!-- это используется чтобы подцепить таблицу стилей находящуюся в той же папке только для этого файла-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
</head>
<body>

    <!-- Заголовок страницы -->
    <header>
        <div class="container">
        <!-- Панель навигации -->
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <!-- Меню сайта -->
                    <partial name="_MenuPartial" />
                    <!-- Меню сайта - конец -->
                    <!-- Информация пользователя -->
                    <partial name="_UserInfoPartial" />
                    <!-- Информация пользователя - конец -->
                </nav> <!-- Панель навигации - конец -->
            </div>
    </header>

    <!-- Основное содержимое -->
    <main class="container">
        @RenderBody()
    </main>

    <!-- Подвал страницы -->
    <footer>
        <div class="container">
            <div class="navbar navbar-dark navbar-expand-md bg-dark">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="http://www.facebook.com">
                        <i class="fa-brands fa-facebook-f fa-2x"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.vk.com">
                        <i class="fa-brands fa-vk fa-2x"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.twitter.com">
                        <i class="fa-brands fa-twitter fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Подключение скриптов -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>-->

    <!-- Асинхронная секция Scripts -->
    @RenderSection("Scripts", required: false)

</body>
</html>