@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() ?? string.Empty;
}

<a class="navbar-brand" href="#"><span class="badge bg-secondary">25350152</span></a>

<div class="navbar-nav">
    <a class="nav-item nav-link @(controller == "home" ? "active" : "")" asp-controller="Home" asp-action="Index">Лб 1</a>
    <a class="nav-item nav-link @(controller == "catalog" ? "active" : "")" asp-controller="Catalog" asp-action="Index">Каталог</a>
    <a class="nav-item nav-link @(controller == "admin" ? "active" : "")" asp-area="Admin" asp-page="/Index">Администрирование</a>
</div>