@model Web_253502_Yarashuk.Domain.Models.ListModel<Web_253502_Yarashuk.Domain.Entities.Product>

<!-- Выбор категории -->
<div class="col-2 border-2">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                @ViewData["currentCategory"]
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Product" asp-route-category="">Все</a>
                </li>
                @foreach (var item in ViewBag.Categories)
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Product" asp-route-category="@item.NormalizedName">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>



<!-- Частичное представление для подгрузки -->
<div id="product-list-container">
    <partial name="_CatalogPartial" />
</div>